absl-py==1.3.0
aiohttp==3.8.3
aiosignal==1.3.1
alembic==1.9.0
ansi2html==1.8.0
appdirs==1.4.4
arandr==0.1.10
archey4==4.14.0.1
archinstall==2.5.1
asttokens==2.2.1
astunparse==1.6.3
async-timeout==4.0.2
attrs==22.2.0
autocommand==2.2.2
autopage==0.5.1
backcall==0.2.0
black==22.12.0
blis==0.7.9
Brlapi==0.8.4
btrfsutil==6.1
build==0.9.0
cachetools==5.2.0
catalogue==2.0.8
cffi==1.15.1
chardet==5.1.0
charset-normalizer==2.1.1
chex==0.1.5
click==8.1.3
cliff==4.1.0
cloud-init==22.4.2
cloudpickle==2.2.0
cmaes==0.9.0
cmd2==2.4.2
colorama==0.4.6
colorlog==6.7.0
comm==0.1.2
commonmark==0.9.1
confection==0.0.3
configobj==5.1.0.dev0
contourpy==1.0.6
cryptography==38.0.4
cssselect==1.2.0
cuda-python==11.8.1
cycler==0.11.0
cymem==2.0.7
Cython==0.29.32
dataclasses==0.6
debugpy==1.6.4
decorator==5.1.1
dirhash==0.2.1
distro==1.8.0
dm-tree==0.1.7
docopt==0.6.2
docstring-parser==0.15
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.4.1/en_core_web_sm-3.4.1-py3-none-any.whl
entrypoints==0.4
executing==1.2.0
filelock==3.8.0
Flask==2.2.2
Flask-Cors==3.0.10
flatbuffers==22.11.23
flax==0.6.2
flaxmodels==0.1.2
fonttools==4.38.0
frozenlist==1.3.3
fsspec==2022.11.0
gast==0.4.0
gitdb==4.0.10
GitPython==3.1.29
gluonnlp==0.10.0
google-auth==2.15.0
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
graphviz==0.8.4
greenlet==2.0.1
grpcio==1.51.1
gym==0.26.2
gym-notices==0.0.8
h5py==3.7.0
huggingface-hub==0.11.1
idna==3.4
imageio==2.22.4
imbalanced-learn==0.9.1
importlib-metadata==4.13.0
inflect==6.0.2
installer==0.6.0
ipdb==0.13.9
ipykernel==6.19.2
ipython==8.7.0
itsdangerous==2.1.2
jaraco.context==4.2.0
jaraco.functools==3.5.2
jaraco.text==3.11.0
jax==0.4.1
jaxlib==0.4.1+cuda11.cudnn86
jedi==0.18.2
Jinja2==3.1.2
joblib==1.2.0
jsonpatch==1.32
jsonpointer==2.3
jsonschema==4.17.3
jupyter_client==7.4.8
jupyter_core==5.1.0
keras==2.11.0
kiwisolver==1.4.4
langcodes==3.3.0
lensfun==0.3.3
libclang==14.0.6
lightning-utilities==0.4.2
louis==3.24.0
lxml==4.9.2
Mako==1.2.4
Markdown==3.4.1
MarkupSafe==2.1.1
-e git+https://github.com/SalamanderCrossing/mate@8d436f9d7c2d7229a83d3740555ec551281c5fca#egg=mate
matplotlib==3.6.2
matplotlib-inline==0.1.6
-e git+https://github.com/awslabs/mlm-scoring.git@a8fd29f3ca666da386be91eb7c319027603c58a4#egg=mlm
more-itertools==9.0.0
mosestokenizer==1.2.1
mpmath==1.2.1
msgpack==1.0.4
multidict==6.0.3
murmurhash==1.0.9
mxnet-mkl==1.6.0
mypy-extensions==0.4.3
nest-asyncio==1.5.6
netifaces==0.11.0
netsnmp-python==1.0a1
networkx==2.8.8
nftables==0.1
numpy==1.23.5
nvidia-cublas-cu11==11.10.3.66
nvidia-cuda-nvcc==11.3.58
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cuda-runtime-cu11==11.7.99
nvidia-cudnn==8.2.0.51
nvidia-cudnn-cu11==8.5.0.96
nvidia-pyindex==1.0.9
oauthlib==3.2.2
onnx==1.13.0
opencv-python==4.6.0.66
openfile==0.0.7
opt-einsum==3.3.0
optax==0.1.4
optuna==3.0.4
ordered-set==4.1.0
packaging==21.3
pandas==1.5.2
parso==0.8.3
pathspec==0.10.2
pathy==0.10.0
pbr==5.11.0
pep517==0.13.0
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.3.0
pipreqs==0.4.11
platformdirs==2.6.0
ply==3.11
portalocker==2.6.0
preshed==3.0.8
prettytable==3.5.0
prompt-toolkit==3.0.36
protobuf==3.19.6
psutil==5.9.4
ptyprocess==0.7.0
pure-eval==0.2.2
pwquality==1.4.5
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycairo==1.23.0
pycparser==2.21
pydantic==1.10.2
pyglet==2.0.2.1
Pygments==2.13.0
PyGObject==3.42.2
pyparsing==3.0.9
pyperclip==1.8.2
pyrsistent==0.19.2
pyserial==3.5
python-dateutil==2.8.2
pytorch-lightning==1.8.5
pytz==2022.6
PyWavelets==1.4.1
pyxdg==0.28
PyYAML==6.0
pyzmq==24.0.1
Reflector==2021.11.20.2.41.3
regex==2022.10.31
requests==2.28.1
requests-oauthlib==1.3.1
rich==12.6.0
roboschool==1.0.34
rsa==4.9
sacrebleu==2.3.1
scantree==0.0.1
scikit-image==0.19.3
scikit-learn==1.1.3
scipy==1.8.1
seaborn==0.12.1
setproctitle==1.3.2
six==1.16.0
smart-open==5.2.1
smmap==5.0.0
sources==1.1.0
spacy==3.4.3
spacy-legacy==3.0.10
spacy-loggers==1.0.3
SQLAlchemy==1.4.45
srsly==2.4.5
stack-data==0.6.2
stevedore==4.1.1
sympy==1.11.1
tabulate==0.9.0
team==1.0
tensorboard==2.11.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorboardX==2.5.1
tensorflow==2.11.0
tensorflow-estimator==2.11.0
tensorflow-io-gcs-filesystem==0.28.0
tensorstore==0.1.28
termcolor==2.1.1
texttable==1.6.7
thinc==8.1.5
threadpoolctl==3.1.0
tifffile==2022.10.10
tokenizers==0.13.2
toml==0.10.2
tomli==2.0.1
toolwrapper==2.1.0
toolz==0.12.0
torch==1.13.0
torchaudio==0.13.0
torchmetrics==0.11.0
torchvision==0.14.0
tornado==6.2
tqdm==4.64.1
traitlets==5.8.0
transformers==4.25.1
trove-classifiers==2022.12.22
typer==0.7.0
typing_extensions==4.4.0
uctools==1.3.0
urllib3==1.26.12
validate==5.1.0.dev0
validate-pyproject==0.10.1
validators==0.20.0
wasabi==0.10.1
wcwidth==0.2.5
websockets==10.4
Werkzeug==2.2.2
wrapt==1.14.1
yarg==0.1.9
yarl==1.8.2
zipp==3.11.0
